@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
  --black: #171321;
  --white: #f7f8fa;
  --softorange: hsl(35, 77%, 62%);
  --softred: hsl(5, 85%, 63%);
  --offwhite: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dkgrayish-blue: hsl(236, 13%, 42%);
  --vdark-blue: hsl(240, 100%, 5%);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Inter', sans-serif;

  color: hsl(236, 13%, 42%);
  background-color: hsl(36, 100%, 99%);
}

p {
  line-height: 1.5rem;
  font-size: 15px;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: auto;
}


header {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
  margin-bottom: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 5px;
}

nav a {
  text-decoration: none;
  color: var(--dkgrayish-blue)
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
}

.col-span-2 {
  grid-column: 1 / 3;
  width: 100%;
}

.row-span-2 {
  grid-row: 1 / 3;
}

.col-1 {
  grid-column: 1
}

.col-2 {
  grid-column: 2 / 3;
}

.col-3 {
  grid-column: 3 / 3;
}

.row-1 {
  grid-row: 1 / 2;
}

.row-2 {
  grid-row: 2 / 3;
}

.row-3 {
  grid-row: 3 / 4;
}

.red-button {
  background-color: var(--softred);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.side-news {
  background-color: var(--vdark-blue);
  height: 100%;
}

.side-news h2 {
  color: var(--softorange);
  padding: 10px 15px;
}

.side-news h3 {
  color: white;
  padding: 10px 15px;
}

.side-news p {
  color: var(--grayish-blue);
  padding: 0px 15px 10px;
  margin-bottom: 10px;
}

.side-news hr {
  width: 80%;
  height: 1px;
  background-color: #ccc;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px
}

.image-text-container-flex {
  display: flex;
}

.image-text-container-flex .image-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 10px;
}

.image-text-container-flex h3,
.image-text-container-flex h4,
.image-text-container-flex p {
  margin: 0;
}
